/* line 1, ../sass/admin.scss */
.OphCoTherapyapplication_DecisionTreeNodeRule {
  float: left;
  border: 1px dotted black;
  width: 100px;
  margin-left: 20px;
  background-color: #ddd;
}

/* line 9, ../sass/admin.scss */
.current-files {
  margin-left: 1.5em;
  margin-bottom: 0;
}
