.question {
	
}

.node {
	width: 80%;
	border: 1px solid black;
}

.children {
	display: inline-block;
	border: 1px solid black;
	width: 500px;
	margin: 3px 0px 30px 0px;
}

.children .child {
	float: left;
	border: 1px solid black;
	width: 100px;
	margin-left: 20px;
	background-color: #ddd;
}

.rules {
	display: inline-block;
	border: 1px solid black;
	width: 500px;
	margin: 3px 0px 30px 0px;
}

.question {
	clear: left;
}
	
.OphCoTherapyapplication_DecisionTreeNodeRule {
	float: left;
	border: 1px dotted black;
	width: 100px;
	margin-left: 20px;
	background-color: #ddd;
}

label {
	width: 200px;
}