@CHARSET "UTF-8";

.dt-node {
	margin-bottom: 10px;
	display: inline-block;
}

.outcome {
	font-size: 1.2em;
	display: inline-block;
}

.cols2 div.elementField {
	padding-bottom: 5px;
}

.cols2 div.elementField div.label {
	font-size: 15px;
	width: 170px !important;
	display: inline-block !important;
	
}

.cols2 div.elementField div.data div {
	display: inline-block;
	
}

#OphCoTherapyapplication_ComplianceCalculator div {
	display: inline-block;
}

.eventDetail .aligned {
	clear: both;
}

.eventDetail .data {
	font-size: 15px;
}

.compliance-container {
	width: 320px;
	float: right;
}

.compliance-container div.data {
	float:left;
}

th.previntervention-date {
	width: 80px;
}

th.previntervention-treatment {
	width: 90px;
}