@CHARSET "UTF-8";

#event_content.watermarkBox { background-image: url(../img/watermark.png); background-position: -5px 0; background-repeat: repeat-y; border-color: #86cdff; }

#event_content .cols2 .data {
	width: 316px;
	float: right;
}
#event_content .eventDetail > .label {
	padding-right: 8px;
}
#event_content .eventDetail > .eventDetail {
	padding-left: 0;
	padding-right: 0;
}

.elementField {
	overflow: hidden;
}

.elementField .data table {
	width: 100%;
}

.elementField .data th,
.eventDetail .data th {
	text-align: left;
}
.eventDetail .data th {
	padding: 0 2px 2px 0;
}

.dt-node {
	margin-bottom: 10px;
	display: inline-block;
}

.outcome {
	font-size: 1.2em;
	display: inline-block;
}

.cols2 div.elementField {
	padding-bottom: 5px;
}

.cols2 div.elementField div.label {
	font-size: 15px;
	width: 170px !important;
	display: inline-block !important;

}

.cols2 div.elementField div.data div {
	display: inline-block;

}

#OphCoTherapyapplication_ComplianceCalculator div {
	display: inline-block;
}

.eventDetail .aligned {
	clear: both;
}

.eventDetail .data {
	font-size: 15px;
}

.compliance-container {
	width: 320px;
	float: right;
}

.compliance-container div.data {
	float:left;
}

th.previntervention-date {
	width: 80px;
}

th.previntervention-treatment {
	width: 90px;
}

.compliance-container .outcome {
	padding: 5px;
	font-size: 20px;
	border-width: 2px;
	border-style: solid;
}

.compliance-container .outcome.unknown {
	color: #999;
	border-color: #999;
}

.compliance-container .outcome.compliant {
	color: #0c0;
	border-color: #0c0;
}

.compliance-container .outcome.non-compliant {
	color: #f00;
	border-color: #f00;
}

select.MultiSelectList, div.MultiSelectList {
	vertical-align: top;
}

ul.MultiSelectList {
	margin: 0px;
}

/*
 Exceptional Circumstances >> Previous interventions (edit mode)
 */
#event_content .cols2 .previntervention-container,
#event_content .cols2 .relatedintervention-container,
#event_content .cols2 .pastintervention,
#event_content .cols2 .pastintervention div {
    display: block;
}
#event_content .cols2 .pastintervention {
    background: rgba(255,255,255,0.6);
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    position: relative;
}
#event_content .cols2 .pastintervention > div {
    padding-bottom: 4px;
    width: 100%;
    overflow: hidden;
}
#event_content .cols2 .pastintervention .data {
    width: 160px;
}
#event_content .cols2 .pastintervention .data select,
#event_content .cols2 .pastintervention .data.comments {
    width: 100%;
}
#event_content .cols2 .pastintervention .data textarea {
    box-sizing: border-box;
    width: 100%;
}
#event_content .cols2 .pastintervention .label {
    float: left;
    width: 140px !important;
}
#event_content .cols2 .pastintervention .removePastintervention {
    position: absolute;
    right: 0;
    top: 0;
}

/*
 Exceptional Circumstances >> Previous interventions (view mode)
 */
#event_content .cols2 .pastintervention-view  > div {
    overflow: hidden;
    padding-bottom: 8px;
}
#event_content .cols2 .pastintervention-view .label {
    float: left;
}
#event_content .cols2 .pastintervention-view .data {
    float: right;
    width: 162px;
}
#event_content .cols2 .pastintervention-view .data.comments {
    width: 100%;
}
#event_content .cols2 .pastintervention-view {
    margin-bottom: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.6);
    padding: 5px;
}
#event_content .cols2 .pastintervention-view:last-child {
    margin: 0;
}